<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Thememinister Health Admin panel</title>

    <!-- Favicon and touch icons   th:href="@{ -->
    <link rel="shortcut icon" th:href="@{/assets/dist/img/ico/favicon.png}" type="image/x-icon">
    <!-- Start Global Mandatory Style
    =====================================================================-->
    <!-- jquery-ui css -->
    <link th:href="@{/assets/plugins/jquery-ui-1.12.1/jquery-ui.min.css}" rel="stylesheet" type="text/css"/>
    <!-- Bootstrap -->
    <link th:href="@{/assets/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <!-- Bootstrap rtl -->
    <!--<link href="assets/bootstrap-rtl/bootstrap-rtl.min.css" rel="stylesheet" type="text/css"/>-->
    <!-- Lobipanel css -->
    <link th:href="@{/assets/plugins/lobipanel/lobipanel.min.css}" rel="stylesheet" type="text/css"/>
    <!-- Pace css -->
    <link th:href="@{/assets/plugins/pace/flash.css}" rel="stylesheet" type="text/css"/>
    <!-- Font Awesome -->
    <link th:href="@{/assets/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <!-- Pe-icon -->
    <link th:href="@{/assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css}" rel="stylesheet" type="text/css"/>
    <!-- Themify icons -->
    <link th:href="@{/assets/themify-icons/themify-icons.css}" rel="stylesheet" type="text/css"/>
    <!-- End Global Mandatory Style
    =====================================================================-->
    <!-- Start page Label Plugins
    =====================================================================-->
    <!-- Toastr css -->
    <link th:href="@{/assets/plugins/toastr/toastr.css}" rel="stylesheet" type="text/css"/>
    <!-- Emojionearea -->
    <link th:href="@{/assets/plugins/emojionearea/emojionearea.min.css}" rel="stylesheet" type="text/css"/>
    <!-- Monthly css -->
    <link th:href="@{/assets/plugins/monthly/monthly.css}" rel="stylesheet" type="text/css"/>
    <!-- End page Label Plugins
    =====================================================================-->
    <!-- Start Theme Layout Style
    =====================================================================-->
    <!-- Theme style -->
    <link th:href="@{/assets/dist/css/stylehealth.min.css}" rel="stylesheet" type="text/css"/>
    <!--<link href="assets/dist/css/stylehealth-rtl.css" rel="stylesheet" type="text/css"/>-->
    <!-- End Theme Layout Style
    =====================================================================-->
</head>